# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS junk
.DS_Store
